*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #94bdff;
}

.registrer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 420px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: whitesmoke;
}

h2{
  text-align: center;
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8rem;
}

.ursname, .name, .email, .password, .password2, .form-control{
    position: relative;
    margin: auto;
    left: 50%;
    margin-top: 25px;
    transform: translate(-50%);
    height: 32px;
    font-size: 0.8rem;
    width: 350px;
    border: 1px solid lightgrey;
    border-radius: 7px;
}

.agree-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 40px;

}

.agree{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
   margin: auto 0 auto 0;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 50%;
    transform: translate(0%, -35%);

}

.btn{
    position: relative;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background-color:#3d94f6;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
.button:hover {
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color:#1e62d0;
}
.button:active {
    position:relative;
    top:1px;
}

.text{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
}

.connexion2{
    color: dodgerblue;
    font-family: 'Nunito Sans', sans-serif;
}

.rat{
    position: absolute;
    height: 140px;
    width: 170px;
    right: -15px;
    top: -15px;



}

.rat img{
    width: 100%;
    height: 100%;

}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    height: 400px;
    width: 400px;
    display: flex;
}
#rat{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5B21B6;
}

/*---------------------Page error 404-----------------------*/

.error_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.title_error{
    color: #e0cd8d;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 4rem;
    margin: auto 0 auto 0;
}

.subtitle_error{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    color: whitesmoke;

}

/*--------------------- Liste des dépenses -----------------------*/


.zone-depense{
position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    margin-left: 5%;
}

.zone-depense h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.8rem;
    background-color: #a8c9ff;
}

.liste-depense{
    width: 400px;
    height: 60vh;
    border-radius: 5px;

    overflow-y: scroll;
}

.depense{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100px;
    background-color: #c2d4f1;
    border: 1px solid #c7c7c7;
    list-style: none;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 18px;

}

.my-button{
    width: 100%;
    display: flex;
    flex-direction: column;

}

#btn2-create{
height: 30px;
width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74a874;
    margin-bottom: 0px;
    margin-top: 15px;
}

#btn2{
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#btn2-quit{
    height: 30px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f5d5d;
    margin-top: 10px;
}

.right-depense, .left-depense{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    font-size: 1.1rem;
    color: black;
}

.right-depense{
    right: 20px;
}

.left-depense{
    left: 20px;
}

h4, .name-depense, .date-depense, .price-depense{
    font-family: 'Nunito Sans', sans-serif;
}

h4{
    font-size: 1.3rem;
}

.name-depense, .date-depense{
    color: #5e5e5e;
}

.price-depense{
    text-align: right;
    font-size: 1.4rem;

}