<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
</head>
<body>

<div class="registrer">

<h2>S'enregistrer</h2>
    <div class="rat">
        <img src="/img/rat2.png">
    </div>
    <input type="text" class="ursname" name="ursname" placeholder="     Prénom">
    <input type="text" class="name" name="name" placeholder="     Nom">
    <input type="email" class="email" name="email" placeholder="     Adresse mail">
    <input type="password" class="password" name="password" placeholder="      Mot de passe">
    <input type="password" class="password2" name="password2" placeholder="     Confirmation mot de passe">
    <a href="#" class="button"> S'enregistrer</a>
    <p class="text">Vous avez déja un compte ? <a class="connexion2" href="#">connexion</a></p>
</div>

</body>


</html>