<!DOCTYPE>
<html lang="fr">
<head>
    <title>title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/create_tricount_modal.css">
</head>
<body>
{{ form(form) }}
</body>
</html>