{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utils/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/utils/tricounts_list.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/home_page.css') }}" type="text/css">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'utils/header.html.twig' %}
    <main class="main">
        <div class="tricounts_list_container">
            {% include 'utils/tricounts_list.html.twig' with {'tricountArray': user_tricounts } %}
        </div>
    </main>
{% endblock %}

