<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<ul>
    {% for tricount in tricountArray %}
        <li>{{ tricount.name }}</li>
        <form method="POST" action="{{ path('app_quit_tricount', {'tricountId': tricount.id}) }}">
            <button type="submit">Quitter le Tricount</button>
        </form>
    {% endfor %}
</ul>
</body>
</html>