<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<ul>
    <li>{{ tricountArray.name }}</li>
</ul>
<a href="/tricount/{{ tricountArray.id }}/new-expenses">Créer une dépense</a>
<a href="{{ path('app_edit_tricount', {'tricountId': tricountArray.id}) }}">Éditer le Tricount</a>
<form method="POST" action="{{ path('app_quit_tricount', {'tricountId': tricountArray.id}) }}">
    <button type="submit">Quitter le Tricount</button>
</form>
</body>
</html>