<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<ul>
    {% for tricount in tricountArray %}
        <li>{{ tricount.name }}</li>
    {% endfor %}
</ul>
</body>
</html>